[Unit]
Description=Zebra Daemon (Mainnet)
After=network.target zcashd_mainnet
StartLimitBurst=5
StartLimitIntervalSec=10
[Service]
Type=simple
Restart=always
RestartSec=1
User=yourUserName
ExecStart=/home/yourUserName/Development/zebra/target/debug/zebrad --config /home/yourUserName/zebrad/zebrad_mainnet.toml start 

[Install]
WantedBy=multi-user.target

